<mat-tab-group>
  <mat-tab label='Disclaimer eng'>

    <h1>Disclaimer</h1>

    <h2>build by:</h2>

    <p>Johannes Plath, &ensp;&ensp;&nbsp; MatrNr. 575347 </p>
    <br>

    <h2>Project for: </h2>
    <p>Modul: B42.1 Web-179798-10</p>
    <p>B42.1 Web-dev(elopment)</p>
    <p>@ HTW Berlin in WS 2021/2022 </p>
    <p>Doz: Duraisamy Krithiga</p>
    <br>
    <h2>Liability</h2>

    <p>Any deposited data will be stored on a server for the time of use. The deposited e-mail address may be stored in
      external lists and list entries until they are deleted.
      No responsibility is taken for personal data, their timeliness or their veracity. Likewise all responsibilities
      for the deletion are left to the respective users.
      In short: The providers of this web app assume no responsibility or liability for anything and anyone!</p>
    <br>
    <h2>copy right</h2>

    <p>This is a self-made project with a very high expenditure of time and a high portion of creativity. Therefore the
      code used here is subject to copyright. Unauthorized copying or duplication can be prosecuted at any time and lead
      to claims for damages. This applies to parts and or the whole....
    </p>
    <p>@ Ms. Krithiga: </p>
    <p>To inform the user I have chosen different ways, this seems inconsistent in some places. I did this deliberately
      to illustrate the different possibilities.</p>
    <p></p>

  </mat-tab>
  <mat-tab label='Disclaimer de'>
    <h1>Disclaimer</h1>

    <h2>erstellt von:</h2>

    <p>Johannes Plath, &ensp;&ensp;&nbsp; MatrNr. 575347 </p>
    <br>

    <h2>Projekt für: </h2>
    <p>Modul: B42.1 Web-179798-10</p>
    <p>B42.1 Webentwicklung</p>
    <p>@ HTW Berlin im WS 2021/2022 </p>
    <p>Doz: Duraisamy Krithiga</p>
    <br>
    <h2>Haftungsauschluss:</h2>
    <p>Jegliche hinterlegten Daten werden für die Zeit der Nutzung auf einem Server gespeichert. Die hinterlegte E-Mail
      Adresse steht ggf. in fremden Listen und Listeneinträgen hinterlegt, bis diese gelöscht wurden.
      Es wird keinerlei verantwortung für persönliche Daten, deren Aktualität oder deren Wahrheitsgehalt übernommen.
      Ebenfalls werden alle Verantwortungen für das löschen den Jeweiligen nutzern überlassen.
      Kurz um: Die Anbieter dieser Web-App übernehmen keinerlei Verantwortung oder Haftung, für nichts und
      niemanden!</p>
    <br>

    <h2>Kopierrechte</h2>
    <p>grob: keine!</p>
    <p>Dies ist ein Selbsterstelltes Projekt mit einem sehr hohen Zeitaufwand und einem hohen Anteil an kreativität.
      Daher unterliegt der hier genutze Code dem Urheberrecht. Unerlaubtes kopieren oder Vervielfältigen kann jederzeit
      zur Anzeige gebracht und zu Schadenersatzforderungen führen. Dies gilt für Teile und oder dem ganzen....
    </p>
    <p>@ Frau Krithiga: </p>
    <p>Um den Nutzer zu Informieren habe ich verschieden Wege gewählt, dies wirkt an manchen Stellen inkonsistent. Dies
      habe ich bewusst getan, um die verschiedenen Möglichkeiten zu veranschaulichen.</p>
  </mat-tab>

  <mat-tab label='How to use'>
    <h2>Navigation</h2>
    <p>In the header you can access all areas of the application (as long as you are logged in). </p>
    <p>If the diplay is too narrow (mobile usage), there is an alternative menu bar on the left side. This can be folded
      out via the
      menu icon on the top left.</p>

    <h2>Log In</h2>
    <p>Log in with your personal Mail und Password </p>
    <p>Important is to log in an account you had been createt before!</p>

    <h2>New Account</h2>
    <p>Create an account. At least one character must be entered everywhere.</p>
    <p>In addition, the e-mail must be in the form of an e-mail and the password must have one of the following
      components:</p>
    <p> 0-9, A-Z, a-z, !'$%^&*".</p>

    <h2>List Administration</h2>
    <p>In the upper area, lists can be created by entering a name at (List Name*) and creating the list with Create
      List.</p>
    <p>Important: each list name is unique and may therefore only be assigned once!</p>
    <p>Below you will find a selection of lists that may have been created. The checkbox on the right side must be
      activated in order to be able to use the control fields further down.</p>
    <br>
    <p>Users can be added to any self-created list. These users then see the list and its entries in "Lists", e.g. to
      buy entries themselves and then mark them as purchased.</p>
    <p>Adding only works via an e-mail address stored in the system.</p>
    <br>
    <p>To use the "Choose mail to Remove" drop-down menu, you must first select a list with the corresponding user.</p>
    <p>After that, the mail addresses of the users are available and can be removed from the respective list by clicking
      on the remove button. </p>

    <h2>Lists (Mobile usage - small screen)</h2>
    <p>Important: there are two completely different views. Desktop variant can be selected via the hadder menu with
      wide screen via "Lists". </p>
    <p>In the upper left corner you can select a list. You can choose between lists that you have created yourself and
      lists that other users have added to.</p>
    <p>Next to it is a selection menu to explicitly set the first category of the list.</p>
    <p>After a list has been selected, items can be marked as purchased or deleted (by the list creator). Deleting in
      mobile mode (with narrow display) is done by long press on the element. A popup appears to confirm the
      deletion. </p>
    <p>Marking as "bought by" is done by clicking on the slider in the right part of the entries.
      Adding can be found on the right. Product* (name) is freely selectable and should be completed with a quantity and
      then a product category must be selected.</p>

    <h2>Lists (Desktop Version - wide Screen)</h2>
    <p>Important: there are two completely different views. The mobile version can be selected via the page navigation
      on the left side of the screen by clicking on "Lists".</p>
    <p>In the upper left corner you can select a list. You can choose between lists that you have created yourself and
      lists that other users have added to.</p>
    <p>Next to it is a selection menu to explicitly set the first category of the list.</p>
    <p>After a list has been selected, an overview of the individual product categories appears on the left. If you
      select a category, the articles appear to the right as an icon and can be deleted there (by the creator of the
      list). Deleting in desktop mode (with wide display) is done by clicking on the X in the icon.</p>
    <p>Marking as purchased is done by clicking on the respective product. Adding can be found on the right. Product*
      (name) is freely selectable and should be
      completed with a quantity
      and the product category is the currently selected cathegory./p>

    <h2>personalized button with your initials always on the top right corner</h2>
    <p>When you activate it, a submenu appears. In this menu you can log out or delete your account, including all your
      lists and their entries.</p>

  </mat-tab>

  <mat-tab label='Bedienungshinweise'>
    <h2>Navigation</h2>
    <p>Im Header können sie (soweit sie eingelogt sind, auf alle bereiche der Applikation zugreifen.</p>
    <p>Sollte das Diplay zu schmal werden (mobile Nutzung) gibt es eine alternative Menüleiste am linken Rand. Diese
      kann über das
      Menü-Symbol Links Oben ausgeklappt werden.</p>

    <h2>Log In</h2>
    <p>Loggen Sie sich mit Ihrem persönlichen Mail und Passwort ein </p>
    <p>Wichtig ist, dass Sie sich mit einem Konto anmelden, das Sie zuvor erstellt haben.</p>

    <h2>New Account</h2>
    <p>Erstellen sie sich einen Account. Es muss überall mindestens ein Zeichen eingegeben werden. </p>
    <p>Zusätzlich muss die E-Mail der Form einer E-mail entsprechen und das Passwort muss jeweils eines der folgenden
      Bestandteile aufweisen: </p>
    <p>0-9, A-Z, a-z, !'$%^&*"</p>

    <h2>List Administration</h2>
    <p>Im oberen Bereich können Listen erstellt werden, indem ein Name bei (List Name*) hinterlegt wird und mit Create
      List die Liste angelegt wird.</p>
    <p>Wichtig: jeder Listenname ist eindeutig und darf daher nur ein mal vergeben werden!</p>
    <p>Darunter befindet sich eine Auswahl an ggf. erstelten Listen. Die Checkbox auf der rechten Seite muss aktiviert
      werden, um die Bedienfelder weiter unten benutzen zu können.</p>
    <br>
    <p>Zu jeder selbst erstellten Liste können User hinzugefügt werden. Diese User sehen dann die Liste und deren
      Einträge in "Lists" um z.B. Einträge selbst zu kaufen und diese dann als gekauft zu markieren.</p>
    <p>Das Hinzufügen funktioniert nur über eine im System hinterlegte E-Mail Adresse. </p>
    <br>
    <p>Um das Dropdown Menü "Choose mail to Remove" zu benutzen, muss zurest eine Liste mit dem entsprechenden User
      ausgeählt werden. </p>
    <p>Danach stehen die Mailadressen der Nutzer zur Verfügung und können mit einem klick auf den remove Knopf aus der
      jeweiligen Liste entfernt werden. </p>

    <h2>Lists (mobile Version - schmaler Bildschirm)</h2>
    <p>Wichtig: es gibt zwei völlig verschiedene Ansichten. Desktopvariante kann über das Haddermenue bei breitem
      Bildschirm via "Lists" angewaehlt werden.</p>
    <p>In der Oberen linken Ecke kann eine Liste Ausgewählt werden. Zur Auswahl stehen Listen, die selbst erstellt
      wurden, und Listen zu denen andere Benutzer einen hinzugefügt haben. </p>
    <p>Daneben ist ein Auswahlmenue um die erste Kategorie der Liste Explizit festzulegen.</p>
    <p>Nachdem eine Liste Gewählt wurde erscheint links eine Uebersicht der einzelnen Prduktkategorien. Wählt man eine
      Kathegorie aus, erscheinen
      rechts daneben die Artikel als Icon und können dort (vom Ersteller der Liste)
      auch gelöscht werden. Löschen im Desktop Modus (mit breitem Display) erfolgt über klicken auf das X im Icon.</p>
    <p>Das Markieren als "gekauft durch" wird durch klicken auf den Slider im rechten Teil der Einträge getätigt.
      Das Hinzufügen ist unten zu finden. Product* (Name) ist frei wählbar und sollte mit einer Menge ergänzt werden
      und dann muss eine Produktkategorie gewählt werden. </p>

    <h2>Lists (Desktop Version - breiter Bildschirm)</h2>
    <p>Wichtig: es gibt zwei völlig verschiedene Ansichten. Die mobile Version kann bei schmalem Bildschirm ueber die
      Seiten-Navigation am linken Bildschirmrand durch Klicken auf "Lists" gewählt werden.</p>
    <p>In der Oberen linken Ecke kann eine Liste Ausgewählt werden. Zur Auswahl stehen Listen, die selbst erstellt
      wurden, und Listen zu denen andere Benutzer einen hinzugefügt haben. </p>
    <p>Daneben ist ein Auswahlmenue um die erste Kategorie der Liste Explizit festzulegen.</p>
    <p>Nachdem eine Liste Gewählt wurde können dort Artikel als gekauft markiert werden oder (vom Ersteller der Liste)
      auch gelöscht werden. Löschen im mobilen Modus (mit schmalem Display) erfolgt über langes drücken auf das Element.
      Daraufhin erscheint ein PopUP zum bestätigen.</p>
    <p>Das Markieren als gekauft wird durch klicken auf das jeweilige Produkt erledigt. Das Hinzufügen ist rechts zu
      finden. Product* (Name) ist frei wählbar und sollte mit einer Menge ergänzt werden
      und die Produktkategorie ist die aktuell gewählte Kathegorie. </p>

    <h2>personalisierter Knopf Ihren Initialien, immer oben linke Ecke</h2>
    <p>Beim Aktivieren erscheint ein Untermenü. In diesem Menü kann man sich ausloggen oder auch seinen Account, samt
      aller seiner Listen und deren Einträgen löschen.</p>
  </mat-tab>
  <mat-tab label='thx 2...'>
    <h2>Many Thanks to:</h2>

    <p>https://angular.io/</p>
    <p>https://v7.material.angular.io/</p>
    <p>https://www.it-swarm.com.de/de/</p>
    <p>https://stackblitz.com/edit/angular-material-todo/</p>
    <p>https://dev-supp.de/</p>
    <p>https://typeorm.io/</p>
    <p>https://github.com/typeorm/</p>
    <p>https://github.com/typebytes/angular-checklist/</p>
    <p>https://wiki.selfhtml.org/wiki/HTML/</p>
    <p>https://www.geeksforgeeks.org/</p>
    <p>https://developer.mozilla.org/</p>
    <p>https://angular.de/artikel/angular-tutorial-deutsch/</p>
    <p>https://docs.nestjs.com/</p>
  </mat-tab>

</mat-tab-group>
